<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default education-panel">
			<div class="panel-heading extend-panel-heading">
				
				<h3 class="alignleft">Customer basic information</h3>

				<div style="text-align: right">
					<div style="display:inline-block"><h4>Step 1 of 1</h4></div>
					<div style="display:inline-block">
						<div class="progress education-progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								
							</div>
						</div>
					</div>
				</div>
			</div> 


			<%= simple_form_for @user, url:wizard_path, html: {class: 'form-horizontal'}, wrapper: :horizontal_input_group do |f| %>

			<fieldset>
				<div class="panel panel-default user-education-panel">
					<%= f.input :personal_bio, as: :text %>
					<%= f.input :county_id, collection: County.order(:name), label_method: :name, value_method: :id, label: "County", include_blank: "Select a category of task" %>
					<%= f.input :area_id, collection: County.order(:name), as: :grouped_select, group_method: :areas %>

				</div>
			</fieldset>

			<div class="row">

				<div class="col-md-3 col-md-offset-9">
					<%= f.button :submit, "Continue", class: "btn btn-primary btn-md submit-button" %>
				</div>
				
			</div>


			<% end %>
		</div>
	</div>
</div>
