<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default main-panel">
			
			<div class="panel-heading widen-main-panel-heading">
				<%= image_tag 'skill.png', :size => "40x40" , class: "pull-left edit-icon "%>
				<h2 class="alignleft">
					&nbsp;
					<strong><%= @user.offered_services.count < 1 ? "ADD SKILL ": "EDIT OR ADD SKILL " %></h2></strong>
				</div> 


				<%= simple_form_for @user, url: {action: "update"}, html: {class: 'form-horizontal'}, wrapper: :horizontal_input_group do |f| %>

				<!-- partial -->
				<%= f.simple_fields_for :offered_services do |b| %>
				<%= render 'offered_service_form', f: b %>
				<% end %>

				<ul class="list-group" id="nil_element_warning">
					<li class="list-group-item list-group-item-warning">You have no skill or offered service. Click the button below to add. </li>
				</ul>

				<%= link_to_add_fields "", f, :offered_services, "/offered_services/offered_service_form", "adjust-add-button-edit-page" %>
				<!-- submit button -->
				<div class="row">
					<div class="col-md-3 col-md-offset-9">
						<%= f.button :submit, "Save and continue", class: "btn btn-success btn-md submit-button" %>
					</div>
				</div>
				<!--// submit button -->
				<% end %>
			</div> 
		</div> 
	</div> 