<%# Form for%>
<%= simple_form_for task, html: {class: 'form-horizontal'}, wrapper: :horizontal_input_group do |f| %>

<%# Error message heading%>
<div class="widen-error">
	<%= render 'shared/error_messages', object: f.object %>
</div>
<%# END: Error message heading%>

<%# Task category%>
<div class="panel panel-default sub-panel">
	<div class="panel-heading widen-sub-panel-heading">
		<h2 class="alignleft"><span class="badge badge-success">1</span>&nbsp &nbsp What task do you require?</h2>
	</div> 
	<div class="inner-div-panel">
		<%= f.input :category_id, collection: Category.order(:name), label_method: :name, value_method: :id, label: "Category", include_blank: "Select a category" %>
		<%= f.input :subcategory_id, collection: Category.order(:name), as: :grouped_select, group_method: :subcategories %>
	</div>
</div>
<%# END: Task category%>

<%# Task title and description%>
<div class="panel panel-default sub-panel">
	<div class="panel-heading widen-sub-panel-heading">
		<h2 class="alignleft"><span class="badge badge-success">2</span>&nbsp &nbsp Tell us about this task...</h2>
	</div> 
	<div class="inner-div-panel">
		<%= f.input :title, placeholder: 'Give a descriptive title for your task'%>
		<%= f.input :description, placeholder: 'Describe your task' %>
	</div>
</div>
<%# END: Task title and description%>

<%# Task location%>
<div class="panel panel-default sub-panel">
	<div class="panel-heading widen-sub-panel-heading">
		<h2 class="alignleft"><span class="badge badge-success">3</span>&nbsp &nbsp Where will your task take place?</h2>
	</div> 
	<div class="inner-div-panel">
		<%= f.input :county_id, collection: County.order(:name), label_method: :name, value_method: :id, label: "County", include_blank: "Select a county" %>
		<%= f.input :area_id, collection: County.order(:name), as: :grouped_select, group_method: :areas %>
	</div>
</div>
<%# END: Task location%>

<%# Task pay%>
<div class="panel panel-default sub-panel">
	<div class="panel-heading widen-sub-panel-heading">
		<h2 class="alignleft"><span class="badge badge-success">4</span>&nbsp &nbsp What budget do you have in mind?</h2>
	</div> 
	<div style="text-align: left">
		<div style="display:inline-block" id="pay-type-label">Pay type</div>
		<div style="display:inline-block"><%= f.input :is_pay_per_hour, label: false, as: :boolean, wrapper: :vertical_radio_and_checkboxes, :input_html => {
			:id => "switcher"} %>
		</div>
	</div>

	<div class="inner-div-panel">

		<%= f.input :pay_offer, wrapper: :horizontal_input_group do %>
		<span class="input-group-addon">€</span>
		<%= f.input_field :pay_offer, as: :integer, class: "form-control", min: 20 %>
		<span class="input-group-addon">Euro</span>
		<% end %>
	</div>
</div>
<%# END: Task pay%>

<%# Task appointment%>
<% if is_new %>
<div class="panel panel-default sub-panel">
	<div class="panel-heading widen-sub-panel-heading">
		<h2 class="alignleft"><span class="badge badge-success">5</span>&nbsp &nbspSet an initial appointment for this task...</h2>
	</div> 
	<div class="inner-div-panel">
		<%= field_set_tag ''.html_safe, id: "date_time" do %>
		<% f.simple_fields_for :appointments do |b| %>

		<%= render 'appointment_form', f: b %>

		<% end %>
		<% end %>
	</div>
</div>
<% end %>
<%# END: Task appointment%>

<%# Submit button%>
<div class="row">
	<div class="col-md-3 col-md-offset-9">
		<%= f.button :submit %>
	</div>
</div>
<%# END: Submit button%>
<% end %>
<%# END: Form for%>