<div class="row">

	<% if @current_appointment.start_at == @current_appointment.end_at %>

	<div class="col-sm-12">
		<ul class="list-group">
			<li class="list-group-item list-group-item-danger"><p2>This task is currently not listed on catalogue because the duration of its appointment is still set to 0. <br><strong>To fix this issue, please edit the duration of your upcoming appointment.</strong></p2></li>
		</ul>
	</div>

	<% end %>

	<!-- COL 8 -->
	<div class="col-sm-8">
		

		<!-- Basic task info -->
		<div class="row">
			<%= render 'task_info', task: @task %>
		</div><!--// row -->

		<hr>

		<!-- Full task description -->
		<div class="row">
			<!-- col 9 -->
			<div class="col-sm-12">
				<p>Description:</p>
				<%= @task.description %>
			</div><!--// col 12 -->
		</div><!--// row -->
		<!-- main task content section-->
		<hr>

		<!-- question and negotiation section -->
		<div class="row" id= "question_negotiation_section">

			<!-- question and negotiation section -->
			<%= render 'question_negotiation_form', task: @task %>
			<!-- question and negotiation section -->

			<!-- questions and negotiations -->
			<div class="col-md-12">
				<h1>Questions & Negotiations</h1>
				<br>
				<div id="comments">
					<%= render @responses %>
				</div>
			</div><!--// questions and negotiations -->

		</div><!--// question and negotiation section -->

	</div>
	<!--// COL 8 -->

	<!-- COL 4 -->
	<div class="col-sm-4">
		<!-- appointed worker info section -->	
		<%= render 'appointed_worker', task: @task, accepted_offer: @accepted_offer %>

		<!-- IF NO WORKER, else if there is a worker -->
		<% if @accepted_offer.nil? %>

		<!-- if no worker and task expires -->
		<!-- expiration of appointment is 3 hours before appointment's start_at -->
		<% if @current_time > @expiry_time %>
		<%= render 'expired_task_appointment', task: @task, accepted_offer: @accepted_offer %>
		<% else %>
		<!-- upcoming -->
		<%= render 'upcoming_appointment', task: @task, accepted_offer: @accepted_offer %>
		<% end %>

		<!-- IF THERE IS A WORKER -->
		<% else %>

		<% if @task.is_pay_per_hour &&  @current_time <= @current_appointment.end_at && @current_time >= @current_appointment.start_at %>
		<%= render 'in_progress_appointment', task: @task, accepted_offer: @accepted_offer %>
		<% elsif @current_time > @current_appointment.start_at %>
		<%= render 'confirm_completion', task: @task, accepted_offer: @accepted_offer %>
		<% else %>
		<!-- upcoming -->
		<%= render 'upcoming_appointment', task: @task, accepted_offer: @accepted_offer %>
		<% end %>
		

		<% end %>
		<!-- IF END -->


	</div> <!-- COL 4 -->

</div>
