Title: <%= @task.title%>
<br>
Full name: <%= @task.client.fullname%>
<br>
Area: <%= @task.area.name%>
<br>
County: <%= @task.area.county.name%>
<br>
Subcategory: <%= @task.subcategory.name%>
<br>
Category: <%= @task.subcategory.category.name%>
<br>
Description: <%= @task.description%>
<br>
<br>
Upcoming Appointment:
<%= @task.appointments.first.start_at.strftime("%I:%M %p")%>
<%= @task.appointments.first.start_at.strftime("%a, %d %B, %Y")%>
<br>
Past Appointments:
<br>
<br>
Questions and negotiations:
<div class="row">
	<div class="col-md-5">

		<%= link_to "Close", task_path(:is_comment => "false"), class: "btn btn-success btn-lg", id: "close-collapse", :data => { :toggle => 'collapse', :target => '#response-form' }, remote: true %>
		<%= link_to "Ask a question", task_path(:is_comment => true), class: "btn btn-success btn-lg", id: "ask-question", :data => { :toggle => 'collapse', :target => '#response-form' }, remote: true %>
		<%= link_to "Negotiate pay", task_path(:is_comment => false), class: "btn btn-success btn-lg pull-right", id: "negotiate", :data => { :toggle => 'collapse', :target => '#response-form' }, remote: true %>
		
		<br>
		<div id="response-form" class="collapse">
			<%= simple_form_for([@task, Response.new]) do |f| %>
			<%= f.input :is_comment, as: :hidden %>
			<%= f.input :negotiate_pay, label: false %>
			<%= f.input :comment_text, as: :text, input_html: {rows: 3}, label: false %>
			<div class="row"> 
				<div class="col-md-4 col-md-offset-8">
					<%= f.button :submit %>
				</div>
			</div>
		</div>
		<% end %>
		<br>
		<div id="comments">
			<%= render @responses %>
		</div>
	</div>
</div>

