<fieldset>
	<%= link_to "", '#', class: "remove_fields glyphicon glyphicon glyphicon-remove delete-icon" %>
	<div class="panel panel-default sub-panel">
		<div class="inner-div-panel">
			<%= f.input :school_name %>
			<%= f.input :degree %>
			<%= f.input :year_started, discard_day: true, label: "Year started", discard_month: true, order: [:month, :year], include_blank: true, default: nil, :input_html => { :class => 'profile-date' } %> 
			<%= f.input :year_finished, label: "Year finished", discard_day: true, discard_month: true, order: [:month, :year], include_blank: true, default: nil, :input_html => { :class => 'profile-date edu-year-fin' }, hint: "Or expected graduation year." %> 
			<%#<%= f.input :_destroy, as: :boolean %>
			<%= f.input :_destroy, as: :hidden %>
			
		</div>
	</div>
</fieldset>