<fieldset>
	<%= link_to "", '#', class: "remove_fields glyphicon glyphicon glyphicon-remove delete-icon" %>
	<div class="panel panel-default sub-panel">
		<div class="inner-div-panel">
			<%= f.input :school_name %>
			<%= f.input :degree %>
			<%= f.input :year_started, label: "Date started", discard_day: true, order: [:month, :year], include_blank: true, default: nil, :input_html => { :class => 'profile-date' } %>
			<%= f.input :year_finished, label: "Date finished", discard_day: true, order: [:month, :year], include_blank: true, default: nil, :input_html => { :class => 'profile-date' }, hint: "Or expected graduation month and year." %>  

			<%= f.input :_destroy, as: :hidden %>
			
		</div>
	</div>
</fieldset>