<fieldset>
	<%= link_to "", '#', class: "remove_fields glyphicon glyphicon glyphicon-remove delete-icon" %>
	<div class="panel panel-default sub-panel">
		<div class="inner-div-panel">
			<%= f.input :company_name %>
			<%= f.input :work_title %>
			<div class="col-md-5 col-md-offset-7 adjust-is-working-checkbox">
				<%= f.input :is_currently_working, :as => :boolean, :label => "I currently work here", :input_html => { :class => 'is-currently-working' } %>
			</div>
			<%= f.input :date_started, discard_day: true, order: [:month, :year], include_blank: true, default: nil, :input_html => { :class => 'profile-date' } %>
			<%= f.input :date_finished, discard_day: true, order: [:month, :year], include_blank: true, default: nil, :input_html => { :class => 'profile-date' } %>

			<span id= "to-present">to present.</span>
		</div>
	</div>
</fieldset>