<!-- Row -->
<div class="row">
	<!-- col 8 -->
	<div class="col-md-8 col-md-offset-2">
		<!-- Main panel-->
		<div class="panel panel-default main-panel">
			<!-- Main panel's heading-->
			<div class="panel-heading widen-main-panel-heading">				
				<%= render 'header', step: "BASIC INFORMATION", step_count: "Step 1 of 4", width: "width: 25%" %>
			</div> 
			<!--// Main panel heading-->

			<!-- User form -->
			<%= simple_form_for @user, url:wizard_path, html: {multipart: true, class: 'form-horizontal'}, wrapper: :horizontal_input_group do |f| %>

			<!-- Fieldset -->
			<fieldset>
				<!-- Subpanel -->
				<div class="panel panel-default sub-panel">
					<!-- Inner panel -->
					<div class="inner-div-panel">

						<!-- UPLOAD SECTION -->
						<%= render 'users/upload_section', user: @user, f: f %>

						<!-- PERSONAL BIO -->
						<%= f.input :personal_bio, as: :text, input_html: {rows: 6}, placeholder: "Enter a summary of yourself. (Sell yourself here.)", hint: "maximum text is 50" %>

						<!-- COUNTY -->
						<div class="required-field-block">
							<div class="required-icon">
								<div class="text">*</div>
							</div>
						</div>
						<%= f.input :county_id, collection: County.order(:name), label_method: :name, value_method: :id, label: "County", include_blank: "Select county where you are located" %>
						
						<!-- AREA -->
						<div class="required-field-block" id="required-area">
							<div class="required-icon">
								<div class="text">*</div>
							</div>
						</div>
						<%= f.input :area_id, collection: County.order(:name), as: :grouped_select, group_method: :areas %>

					</div>
					<!--// Inner panel -->
				</div>
				<!--// Subpanel -->
			</fieldset>
			<!--// Fieldset -->


			<!-- submit button -->
			<div class="row">
				<div class="col-md-3 col-md-offset-9">
					<%= f.button :submit, "Save and continue", class: "btn btn-success btn-md submit-button" %>
				</div>
			</div>
			<!--// submit button -->

			<% end %>
			<!--// User form -->
		</div>
		<!-- main panel -->
	</div>
	<!--// col 8 -->
</div>
<!--// row 8 -->


