<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default main-panel">
			
			<div class="panel-heading widen-main-panel-heading">
				<%= render 'header', step: "WORK EXPERIENCE", step_count: "Step 3 of 4", width: "width: 75%" %>
			</div> 


			<%= simple_form_for @user, url:wizard_path, html: {class: 'form-horizontal'}, wrapper: :horizontal_input_group do |f| %>
			
			<%= f.simple_fields_for :works do |b| %>
			<%= render '/works/work_form', f: b %>
			<% end %>

			<div class="inline">
				<ul class="list-group" id="nil_element_warning">
					<li class="list-group-item list-group-item-warning">You have no work experience. Click the button below to add.</li>
				</ul>
				
				<%= link_to_add_fields "", f, :works, "/works/work_form" %>

				<%= link_to previous_wizard_path,class: "pull-left wizard-path" do %>
				<i class="glyphicon glyphicon-arrow-left"></i>&nbsp Previous step
				<% end %>

				<%= link_to next_wizard_path, class: "pull-right wizard-path" do %>
				Skip this step for now &nbsp<i class="glyphicon glyphicon-arrow-right"></i>
				<% end %>
			</div>

			<!-- submit button -->
			<div class="col-md-3 col-md-offset-9">
				<%= f.button :submit, "Save and continue", class: "btn btn-success btn-md submit-button prof-info-sub-button" %>
			</div>
			<!--// submit button -->


			<% end %>
		</div>
	</div>
</div>
