<% provide(:title, "Registration") %>
<br><br>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default main-panel">

			<!-- worker registration or client registration -->
			<div class="panel-heading widen-main-panel-heading">				
				<h2 class="alignleft"><strong><%= display_header(@user.client)%></strong></h2>	
			</div>

			<%= simple_form_for @user, html: {class: 'form-horizontal'}, wrapper: :horizontal_input_group do |f| %>

			<%# Error message heading%>
			<div class="widen-error">
				<%= render 'shared/error_messages', object: f.object %>
			</div>
			<%# END: Error message heading%>

			<fieldset>
				<div class="panel panel-default sub-panel">
					<div class="inner-div-panel">
						<%= f.input :first_name %>
						<%= f.input :last_name %>
						<%= f.input :email %>
						<%= f.input :password %>
						<%= f.input :password_confirmation, label: "Confirm password"  %>
						<%= f.input :client, as: :hidden %>
					</div>
				</div>
			</fieldset>
			
			<div class="row">
				<div class="col-md-3 col-md-offset-9">
					<%= f.button :submit, "Join Instahire", class: "btn btn-success btn-md submit-button" %>
				</div>
			</div>

			<% end %>
		</div>
	</div>
</div>