<% provide(:title, "Registration") %>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default main-panel">
			<div class="panel-heading widen-main-panel-heading">				
				<h3 class="alignleft"><%= display_header(@user.client) %></h3>	
			</div>

			<%= simple_form_for @user, html: {class: 'form-horizontal'}, wrapper: :horizontal_input_group do |f| %>


			<fieldset>
				<div class="panel panel-default sub-panel">
					<div class="inner-div-panel">
						<%= f.input :first_name %>
						<%= f.input :last_name %>
						<%= f.input :email %>
						<%= f.input :password %>
						<%= f.input :password_confirmation, label: "Confirm password"  %>
						<%= f.input :client, as: :hidden %>
					</div>
				</div>
			</fieldset>

			<div class="row">
				<div class="col-md-3 col-md-offset-9">
					<%= f.button :submit, "Join Instahire", class: "btn btn-primary btn-md submit-button" %>
				</div>
			</div>

			<% end %>
		</div>
	</div>
</div>