<% provide(:title, @user.first_name) %>

<!-- Row -->
<div class="row">

	<!-- Side dashboard -->
	<%= render 'side_dashboard', user: @user %>


	<!-- Main dashboard -->
	<div class="col-sm-9">
		<!-- Full name -->
		<h1><%= @user.fullname %></h1>
		<h5>Visual, UI, UX Designer</h5>
		<hr>
		<p>
			<a href="#" class="btn btn-success">Follow Rod</a>
			&nbsp;&nbsp;
			<a href="#" class="btn btn-info">Send Message</a>

			<%= link_to edit_user_path(current_user), class: "pull-right" do %> 
			<i class="glyphicon glyphicon-pencil"></i>&nbsp Edit your profile
			<% end %>
		</p>
		<hr> 

		<% if @user.client? %>
		<%= render 'client_tabs', user: @user %>
		<% else %>
		<%= render 'worker_tabs', user: @user %>
		<% end %>


	</div>
	<!--// Main dashboard -->

</div>
<!--// Row -->


