<!-- <li class="list-group-item is_your_post_<%#current_user?(post.client) %>"> -->
<div class="panel panel-default">
	<div class="panel-heading task-post">
		<div class="col-md-6">
			<h4 class="title-heading"><%= link_to post.title, task_path(post.id) %></h4>
		</div>
		<div class="col-md-6">
			<span class="pull-right">OFFERED PAY: &nbsp; <strong>€<%= post.pay_offer%> <%= pay_type(post.is_pay_per_hour)%></strong> </span>
		</div>
	</div>

	<div class="panel-body">

		<div class="row">
			<div class="col-md-7"> 
				
				<div class="row">
					<div class="col-md-2"> 
						<!-- Display picture -->
						<% if post.client.picture? %>
						<%= image_tag post.client.picture.url, class: "img-thumbnail" if user.picture? %><br><br>
						<% else %>
						<%= image_tag 'default.jpg', :size => "90x90", class: "img-thumbnail"  %>
						<br><br>
						<% end %>
					</div>

					<div class="col-md-10"> 
						<h5>Posted by <%= link_to post.client.fullname, user_path(post.client.id) %> <br> Task Location: <%= post.client.area.present? ? post.client.location : "Undefined"  %> </h5>
						
					</div>
					
				</div>
				

				<%= post.description%><br><br>
				Subcategory: <%= post.subcategory.name%> | Posted <%= customised_time_ago_in_words(post.created_at) %> ago 
			</div>

			<div class="col-md-5">
				Task's Appointment Details: <br>
				Start time: <%= post.appointments.last.start_at.strftime("%I:%M %p") %> 
				on <%= post.appointments.last.start_at.strftime("%a, %d %B, %Y") %> <br>
				<% if post.is_pay_per_hour %>
				End time: <%= post.appointments.last.end_at.strftime("%I:%M %p")%> on <%= post.appointments.last.end_at.strftime("%a, %d %B, %Y") %> <br>

				Duration: <%= time_in_hour_and_minutes(post.appointments.last.end_at - post.appointments.last.start_at)  %> <br>

				Estimated total earnings: €<%= calculate_earnings(post.appointments.last.end_at - post.appointments.last.start_at, post.pay_offer)  %>
				<% end %>
			</div>
		</div>
	</div>

</div>